[user] 
	name = Konstantin Labun
	email = konstantin.labun@gmail.com 
[push] 
	default = current 
[core] 
	editor = vim 
	filemode = false 
	whitespace = warn,space-before-tab,trailing-space
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[alias]
	lg = log --color --graph --pretty=format:'%C(bold green)%h%Creset -%C(yellow)%d%Creset %C(bold)%s%Creset | %C(green)%an%Creset, %C(blue)%ar%Creset'
	cp = cherry-pick
	st = status -sb
[color]
	ui = true
[credential]
	helper = store
