get history = 1000      "number of command-lines that are remembered
set hlsearch            "highlight matches with last search pattern
set ignorecase          "ignore case in search patterns
set incsearch           "show where search pattern typed so far matches
set number              "print the line number in front of each line
set relativenumber      "show the line number relative too the line with the cursor
set scrolloff = 3       "minimum nr. of lines above and below cursor
set showmode            "message on status line to show current mode
set sidescrolloff = 5   "min. nr. of columns to left and right of cursor
set smartcase           "no ignore case when pattern has uppercase
set undolevels = 1000   "maximum number of changes that can be undone
set visualbell          "use visual bell instead of beeping
set wrapscan            "searches wrap around the end of the file
set surround            "enable surround plugin

" let mapleader = " "
" nnoremap j h
" nnoremap k j
" nnoremap i k

" vnoremap j h
" vnoremap k j
" vnoremap i k

" nnoremap J b
" nnoremap K 5j
" nnoremap L w
" nnoremap I 5k

" vnoremap J b
" vnoremap K 5j
" vnoremap L w
" vnoremap I 5k

" vnoremap j h
" vnoremap k j
" vnoremap i k

" inoremap jj <esc>
" nnoremap h i


" nnoremap ; :action AceAction<CR>

" nnoremap gf :action GotoFile<cr>
" nnoremap gu :action ShowUsages<cr>
" nnoremap gs :action FileStructurePopup<cr>
" nnoremap gR :action RecentChangedFiles<cr>
" nnoremap gr :action RecentFiles<cr>
" nnoremap gj ^
" nnoremap gl $
" nnoremap gi gg
" nnoremap gk G
" nnoremap g, :action Back<cr>
" nnoremap g. :action Forward<cr>
" nnoremap g[ :action GotoSuperMethod<cr>
" nnoremap g] :action GotoImplementation<cr>
" " nnoremap gbb :action GotoPreviousBookmark<cr>
" " nnoremap gbn :action GotoNextBookmark<cr>
" " nnoremap gep :action GotoPreviousError<cr>
" " nnoremap gen :action GotoNextError<cr>


" nnoremap fe :action SearchEverywhere<cr>
" nnoremap ff :action FindInPath<cr>
" nnoremap fr :action ReplaceInPath<cr>

" nnoremap [[ :action MethodUp<cr>
" nnoremap ]] :action MethodDown<cr>

" nnoremap hh :action GotoAction<cr>

" nnoremap hr :action RenameElement<cr>
" nnoremap hg :action Generate<cr>
" nnoremap hp :action ParameterInfo<cr>
" nnoremap hs :action SurroundWith<cr>

" nnoremap = :action ReformatCode<cr>
" nnoremap h! :source ~/.ideavimrc<cr>
