! This is the global resources file that is loaded when
! all users log in, as well as for the login screen

! Fix the Xft dpi to 96; this prevents tiny fonts
! or HUGE fonts depending on the screen size.
Xft.dpi: 144
Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinging: true
Xft.antialias: true
Xft.rgba: rgb


! hintstyle: medium means that (for Postscript fonts) we
! position the stems for maximum constrast and consistency
! but do not force the stems to integral widths. hintnone,
! hintslight, and hintfull are the other possibilities.
! Xft.hintstyle: hintmedium
! Xft.hinting: true
!

! special
! *.foreground:   #d3d0c8
! *.background:   #2d2d2d
! *.cursorColor:  #d3d0c8
!
! ! black
! *.color0:       #2d2d2d
! *.color8:       #747369
!
! ! red
! *.color1:       #f2777a
! *.color9:       #f2777a
!
! ! green
! *.color2:       #99cc99
! *.color10:      #99cc99
!
! ! yellow
! *.color3:       #ffcc66
! *.color11:      #ffcc66
!
! ! blue
! *.color4:       #6699cc
! *.color12:      #6699cc
!
! ! magenta
! *.color5:       #cc99cc
! *.color13:      #cc99cc
!
! ! cyan
! *.color6:       #66cccc
! *.color14:      #66cccc
!
! ! white
! *.color7:       #d3d0c8
! *.color15:      #f2f0ec
